<aside n:inner-foreach="$messages as $message">
	<p class="alert alert-{$message->type}">
		<strong>{='message.type.' . $message->type . '.label'|translate}!</strong>
		<span>{$message->message|translate}</span>
	</p>
</aside>
