<aside n:inner-foreach="$messages as $message" n:if="$messages">
	<div class="alert alert-{$message->type}">
		<p>
			<strong>{='message.type.' . $message->type . '.label'|translate}!</strong>
			{$message->message|translate}
		</p>
	</div>
</aside>
